<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="../static/dist/output.css" rel="stylesheet"> <!-- Tailwind CSS IMPORT STATEMENT -->
</head>
<body>
    <h1 class="p-5 bg-gradient-to-r from-fuchsia-300 to-emerald-500 shadow-lg font-serif">SHCOMRADE DATABASE MANAGEMENT SYSTEM</h1>

    <div class="wrapper flex my-4 mx-2 space-x-2">
        <div class="card border border-black p-4 bg-slate-100 shadow-md hover:text-white hover:bg-slate-900">
            <div>
                <h3 class="font-serif text-2xl font-bold">Add a new member</h3>
                <hr>
            </div>
            <div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis, voluptatem.</p>
            </div>
        </div>
        <div class="card border border-black p-4 bg-slate-100 shadow-md hover:text-white hover:bg-slate-900">
            <div>
                <h3 class="font-serif text-2xl font-bold">Record New Transaction</h3>
                <hr>
            </div>
            <div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis, voluptatem.</p>
            </div>
        </div>
        <div class="card border border-black p-4 bg-slate-100 shadow-md hover:text-white hover:bg-slate-900">
            <div>
                <h3 class="font-serif text-2xl font-bold">Generate a report</h3>
                <hr>
            </div>
            <div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis, voluptatem.</p>
            </div>
        </div>
    </div>
</body>
</html>