<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/dist/output.css">
    <link rel="stylesheet" href="../static/dist/extra.css">
</head>
<body class="h-[100vh]">
    <div class="flex my-auto h-[100vh]">
        <div class="mx-auto h-[100vh] leaves">
            <h1 class="text-5xl text-center font-sans font-bold py-36 pb-2 text-purple-900 mx-auto">Shcomrade Database Management System</h1>
            <div class="text-white font-bold text-center mt-2 px-5 py-3 rounded-md mx-52 bg-blue-700 hover:bg-blue-500">
                <h3>Learn More</h3>
            </div>
        </div>
        <div class="login mb-auto bg-gradient-to-r from-rose-600 to-fuchsia-600 px-14 my-auto h-[100vh]">
            <form action="" class="pt-8">
                <h2 class="font-sans font-bold text-3xl text-white my-3">Sign Up</h2>
                <div class="names flex space-x-2">
                    <div class="py-1">
                        <label for="first-name" class="text-white">First Name</label><br>
                        <input type="text" name="first-name" class="p-2 rounded-md mx-auto" placeholder="John" required>
                    </div>
                    <div class="py-1">
                        <label for="last-name" class="text-white">Last Name</label><br>
                        <input type="text" name="last-name" class="p-2 rounded-md  mx-auto" placeholder="Doe" required>
                    </div>
                </div>
                <div class="py-1">
                    <label for="dob" class="text-white">Date of Birth</label><br>
                    <input type="date" name="dob" class="p-2 rounded-md  mx-auto" required>
                </div>
                <div class="py-1">
                    <label for="first-name" class="text-white">Email</label><br>
                    <input type="email" name="first-name" class="p-2 rounded-md mx-auto" placeholder="doejohn@uranus.com" required>
                </div>
                <div class="py-1">
                    <label for="first-name" class="text-white">Phone Number</label><br>
                    <span class="p-2 bg-slate-300 border rounded-l-md">+254</span><input type="text" name="first-name" class="p-2 rounded-r-md" placeholder="7XXXXXXXX" required>
                </div>
                <button class="bg-black transpa rounded-md border text-white border-black px-5 text-end py-2 my-2 hover:bg-white hover:text-black">Submit</button>
            </form>
            <div class="absolute bottom-0">
                <p>Copyright &copy; 2023 Shcomrade Chama Ltd.</p>
            </div>
        </div>
    </div>
</body>
</html>