{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/dist/output.css">
</head>
<body>
    <h1 class="text-4xl text-center">Members</h1>

    <div>
        <h2 class="text-center text-3xl font-serif my-5">Requests for Membership</h2>
    {% if person %}
    <table class="table-auto border-collapse border border-blue-500 mx-auto">
        <thead class="bg-slate-500">
            <tr>
                <th class="px-2 border border-blue-500">First Name</th>
                <th class="px-2 border border-blue-500">Second Name</th>
                <th class="px-2 border border-blue-500">Date of Birth</th>
                <th class="px-2 border border-blue-500">Phone Number</th>
                <th class="px-2 border border-blue-500">Email</th>
            </tr>
        </thead>
        {% for record in person %}
        <tr>
            <td class="border border-blue-500">{{record.first_name}}</td>
            <td class="border border-blue-500">{{record.second_name}}</td>
            <td class="border border-blue-500">{{record.date_of_birth}}</td>
            <td class="border border-blue-500">+254{{record.phone_number}}</td>
            <td class="border border-blue-500">{{record.email}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>NO NEW MEMBERSHIP REQUESTS!</p>
    {% endif %}
    </div>

    <h2>APPROVED MEMBERS</h2>
    {% if members %}
        {% for member in members %}
            <p>{{member.registration.first_name}}</p>
            <p>{{member.joined_on}}</p>
        {% endfor %}
    {% else %}
        <p>NOTHING TO SEE HERE</p>
    {% endif %}
</body>
</html>