{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/dist/output.css">

    <title>Application Sent | Shcomrade</title>
</head>
<body>
    <<body class="h-[100vh]">
        <div class="flex my-auto h-[100vh]">
            <div class="mx-auto h-[100vh] leaves">
                <h1 class="text-5xl text-center font-sans font-bold py-36 pb-2 text-purple-900 mx-auto">Shcomrade Database Management System</h1>
                <div class="text-white font-bold text-center mt-2 px-5 py-3 rounded-md mx-52 bg-blue-700 hover:bg-blue-500">
                    <h3>Learn More</h3>
                </div>
            </div>
            <div class="login mb-auto bg-gradient-to-r from-rose-600 to-fuchsia-600 px-14 my-auto h-[100vh]">
                THANK YOU FOR YOUR INTEREST IN JOINING US
                <div class="absolute bottom-0">
                    <p>Copyright &copy; 2023 Shcomrade Chama Ltd.</p>
                </div>
            </div>
        </div>
    </body>
</body>
</html>